/* Home */
.overlay-text {
    position: relative;
    background: rgba(0, 0, 0, 0.5); /* Nền màu đen mờ */
    color: #fff; /* Màu chữ sáng */
    padding: 10px;
}

.home .home-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home .slider {
    position: relative;
}

.home .slider .slider-content {
    position: absolute;
    bottom: 100px;
    left: 50px;
    width: calc(100% - 100px);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.home .slider .title {
    display: inline-block;
    font-size: 4.4rem;
    font-weight: 700;
    margin: 0 0 10px 0;
} 

.home .slider .desc {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    display: inline-block;
}

/* introduction */
#introduction {
    width: 100%;    
    margin: 40px 0;
}

#introduction .row {
    margin-top: 100px;
    align-items: center;
    box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.3);
    border-radius: 18px;
    padding-bottom: 30px;
}

#introduction .row .title {
    padding: 30px 40px 0 ;
    text-align:start;
    font-size: 4rem;
    white-space: 2px;
    box-shadow: inset 25px 23px 100px 0px rgba(0,0,0,0.3);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding-bottom: 10px;
}

#introduction .row .item {
    margin: 30px 0;
    padding-left: 20px;
    padding-top: 10px;
    margin-right: 20px;
    font-size: 2.5rem;
    list-style-type: none;
    line-height: 1.5;
    font-weight: 600;
    border-bottom: 5px solid #333;
    border-left: 5px solid #333;
    border-radius: 40px;
}

#introduction .row .item:hover {
    padding: 20px;
    background-color: #333;
    color: #Fff;
    border-radius: 33px;
    transition: all 0.7s ease-in-out;
}

#introduction .row .item .desc {
    /* color: #333; */
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 10px;
}

#introduction .row .item .desc:hover {
    color: #fff;
}

/* Featured */
.featured {
    margin-top: 150px;
}

.featured .main-content {
    margin-top: 30px; 
    border-radius: 14px;
    margin-bottom: 30px;
    border: 3px solid #5b5252;
    box-shadow: -15px 15px 2px -5px rgba(0,0,0,0.1);
}

.title-featured {
    margin-top: -5px;
    padding: 20px 0 20px 40px;
    font-size: 4rem;
    box-shadow: inset 25px 23px 100px 0px rgba(0,0,0,0.3);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.featured .thumb {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item {
    width: 300px;
    border: 2px solid #333;
    border-radius: 12px;
    margin: 0 10px;
}

.featured .body {
    margin: -15px 10px 0 20px;
}

.featured .list {
    padding: 30px;
}

.featured .list .item {
    margin-top: 50px;
}
 
.featured .list .item:hover  {
    background-color: #ddd;
    transition: all 0.4s ease-in-out;
}

.featured .body .title {
    color: #333;
    font-weight: 700;
    font-size: 2rem;
}

.featured .body .title:hover {
    color: red;
}

.featured .sub-title {
    color: #5b5252;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: -10px;
}

.featured .desc {
    font-size: 1.4rem;
    font-weight: 400;
    --line-clamp: 4;
    align-items: center;
    margin-bottom: 10px;
    color: #5F5B53;
    line-height: 1.85; /* 185.714% */
}

.featured .list {
    display: flex;
    flex-wrap: wrap; /* Cho phép các box xuống hàng khi không đủ chỗ */
    gap: 20px; /* Khoảng cách giữa các box */
    justify-content: space-between;
    overflow: hidden;
}

.featured .action {
    margin: 20px 0;
}

/* Contact */
#contact {
    /* height:100vh; */
    margin: 200px 0;
    background: #FFFCF4;
}

#contact .body {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.1);
    padding-bottom: 50px;
}

#contact .contact-title {
    padding: 30px 0 0 40px;
    font-size: 4rem;
}

#contact .contact-content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#contact .contact-content h3 {
    font-size: 3rem;
}

#contact .contact-content .desc {
    width: 75%;
    font-size: 1.8rem;
    color: #333;
    font-weight: 400;
    line-height: 1.5;
}

#contact .submit-info {
    width: 75%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

#contact .submit-info .row {
    display: flex;
}

#contact .submit-info .item {
    margin: 10px 10px 10px 0;
}

#contact .submit-info .item:first-child {
    margin-right: 80px;
}

#contact .submit-info .item label {
    font-size: 1.8rem;
    margin-bottom: 10px;
    display: block;
}

#contact .submit-info .item input {
    height: 50px;
    width: 300px;
    border-radius: 12px;
    font-size: 1.8rem;
}

#contact .btn-submit {
    margin-top: 20px;
}

#contact .contact-manager {
    margin-top: 20px;
}

#contact .contact-manager .desc{
    font-size: 2.5rem;
    font-weight: 600;
} 

#contact .list-icon {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
    font-size: 50px;
}

#contact .list-icon .font-icon:first-child {
    margin-right: 30px;
    margin-bottom: 5px;
    color: blue;
}

#contact .list-icon .font-icon:last-child {
    margin-left: 30px;
    color: red;
}


#customerDesc {
    resize: both; /* Cho phép kéo ở cả hai chiều (ngang và dọc) */
    max-width: 500px; /* Giới hạn chiều rộng tối đa */
    min-width: 250px; /* Giới hạn chiều rộng tối thiểu */
    max-height: 200px; /* Giới hạn chiều cao tối đa */
    min-height: 100px; /* Giới hạn chiều cao tối thiểu */
    font-size: 1.8rem;
    border-radius: 8px;
    border: 2px solid #333;
  }

@media(max-width: 1134px) {
    .home .slider .slider-content {
        position: absolute;
        bottom: 100px;
        left: 50px;
        color: #fff;
        flex-wrap: wrap; 
    }

    .featured .list {
        display: block;
        padding-top: 10px;
    }

    .featured .list .item {
        width: 403px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .featured .thumb {
        height: 350px;
        object-fit: cover;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    #contact .row {
        flex-wrap: wrap;
    }

    #contact .row .item {
        display: block;
    }
    #contact .submit-info .item input {
        height: 50px;
        width: 200px;
        border-radius: 12px;
        font-size: 1.8rem;
    }

}


@media(max-width:753px) {
    .home .slider .slider-content {
        position: absolute;
        bottom: 25%;
        left: 50px;
        color: #fff;
    }
    .home .slider .title {
        font-size: 2.4rem;
        font-weight: 700;
        margin: 0 0 10px 0;
    } 

    .home .slider .desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.6;
    }

    /* Featured */

    /* Contact */
    #contact .row {
        flex-wrap: wrap;
    }

    #contact .row .item {
        display: block;
    }
    #contact .submit-info .item input {
        height: 50px;
        width: 200px;
        border-radius: 12px;
        font-size: 1.8rem;
    }
} 

@media(max-width:480px) {
    .home .slider .slider-content {
        position: absolute;
        bottom: 25%;
        left: 50px;
        width: 300px;
        color: #fff;
    }
    .home .slider .title {
        font-size: 2.4rem;
        line-height: 1;
        font-weight: 700;
        margin: 0 0 10px 0;
    } 

    .home .slider .desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.6;
    }

    /* Featured */
    .featured .list .item {
        width: 253px;
        /* width: calc(100% - 20px); */
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .featured .thumb {
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    #customerDesc {
        resize: both; /* Cho phép kéo ở cả hai chiều (ngang và dọc) */
        max-width: 250px; /* Giới hạn chiều rộng tối đa */
        min-width: 150px; /* Giới hạn chiều rộng tối thiểu */
        max-height: 100px; /* Giới hạn chiều cao tối đa */
        min-height: 50px; /* Giới hạn chiều cao tối thiểu */
    }
    
} 
